* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Landing Section */
/* Adjusting the landing section content layout */
#landing {
    height: 100vh;
    background: url('path/to/banner-image.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#landing .content {
    max-width: 700px;
    color: #f39c12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adds space between the paragraph and buttons */
}

#landing h1 {
    font-size: 3rem;
}

#landing span {
    color: #f39c12;
}

#landing p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

#landing .cta {
    display: flex;
    gap: 20px; /* Adds space between buttons */
}

#landing .cta a {
    padding: 10px 20px;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#landing .cta a:hover {
    background-color: #e67e22;
}

#about, #projects, #contact {
    padding: 50px 100px;
    text-align: center;

}

#about h2, #projects h2, #contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #f39c12;

}

#about p {
    margin: 40px;
}

#about p, #projects p, #contact p {
    font-size: 1.1rem;
}

.skills ul {
    list-style-type: none;
    margin-top: 20px;
}

.skills ul li {
    font-size: 1rem;
    margin-bottom: 10px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.project {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    border-radius: 10px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

#contact-form input, #contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

#contact-form button {
    padding: 10px;
    background-color: #f39c12;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

footer .social-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer .social-links li {
    margin: 0 10px;
}

footer .social-links li a {
    color: white;
    text-decoration: none;
}

